#navbar1 {
    padding: 0.5rem 7.5rem;
}

#navbar2 {
    padding: 0.1rem 4rem;
    font-weight: bold;
    width: 100%;
}

#search {
    width: 90%;
}

.form-inline {
    width: 70%;
}

.navbar {
    background-color: #007db8;
}

.navbar-nav {
    padding: 0 4%;
}

.result-img{
    margin: auto;
    width: 275px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 0;
}